/*
 * Avatars.
 *
 * Usage:
 *
 * TODO
 */


.avatar {
    color: $text--lighter;
    cursor: default;
    display: inline-block;
    font-size: $font-size;
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
    white-space: nowrap;

    .icon,
    img {
        height: 1.5 * $inuit-global-spacing-unit;
        width: 1.5 * $inuit-global-spacing-unit;
    }

    img {
        background: $primary;
        border-radius: $border-radius--circle;
        color: $text--inverse;
    }

    .icon,
    img,
    .avatar__name {
        display: inline-block;
        vertical-align: middle;
    }

    .icon + .avatar__name,
    img + .avatar__name {
        padding-left: $inuit-global-spacing-unit-small;
    }

    .avatar__name {
        @include truncate-text;
    }

    a & {
        cursor: pointer;
    }
}


// Variants ------------------------------------------------------------------------------------------------------------
.avatar--large {

    .icon {
        height: $inuit-global-spacing-unit-huge;
        width: $inuit-global-spacing-unit-huge;
    }
}

.avatar--huge {

    .icon {
        height: 4 * $inuit-global-spacing-unit-huge;
        width: 4 * $inuit-global-spacing-unit-huge;
    }
}
