/*
 * Button group component for toggling between multiple values.
 *
 * Usage:
 *
 * <div class="button-group">
 *     <label class="button-group__button">
 *         <input type="radio" name="duration" value="24">
 *         24
 *     </label>
 *     <label class="button-group__button">
 *         <input type="radio" name="duration" value="24">
 *         48
 *     </label>
 * </div>
 */

.button-group {
    border-radius: $border-radius;
    display: inline-block;
    white-space: nowrap;
}

.button-group__button {
    background: $background--white;
    border: 1px solid $border;
    color: $clickable;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    min-width: $inuit-global-spacing-unit-large;
    padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-tiny * 1.5;
    position: relative;
    text-align: center;

    input[type='radio'] {
        display: none !important; /* stylelint-disable-line declaration-no-important */
    }

    &:hover {
        border-color: $clickable--highlight;
        color: $clickable--highlight;
        z-index: $z--elevated-1;
    }

    &:not(:last-child) {
        margin-right: -1px;
    }

    &:first-child {
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
    }

    &:last-child {
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    &.is-selected,
    &.is-selected:hover {
        background: $background;
        border-color: $border;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.13);
        color: $text;
        cursor: default;
        z-index: $z--base;
    }

    .button-group--icons & {
        line-height: 0;
        padding: $inuit-global-spacing-unit-small;
    }

    &.has-units {
        padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;

        .button-group__unit {
            color: $text--lighter;
            font-size: $font-size--tiny;
            font-weight: normal;
        }
    }
}

.button-group__background {
    display: none;
}

// VARIANTS ----------------------------------------------------------------
.button-group--big .button-group__button {
    padding: $inuit-global-spacing-unit;
}

.button-group--fancy {
    border: 1px solid $clickable;
    border-radius: $border-radius--pill;
    position: relative;
    table-layout: fixed;
    vertical-align: middle;
    z-index: $z--base;

    .button-group__button {
        display: table-cell;
        transition: color $transition-time--medium $transition-style--dynamic;
        width: 50%;

        &,
        &:hover {
            background: $transparent;
            border: 0;
            box-shadow: none;
            font-weight: normal;
            padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
            z-index: $z--base;
        }

        &:not(:last-child) {
            margin-right: 0;
        }

        &:hover {
            color: $clickable--highlight;
        }

        &.is-selected,
        &.is-selected:hover {
            background: $transparent;
            color: $text;
            cursor: default;
        }

        &:first-of-type {
            &.is-selected ~ .button-group__background {
                left: 3px;
                right: 50%;
            }
        }

        &:last-of-type {
            &.is-selected ~ .button-group__background {
                left: 50%;
                right: 2px;
            }
        }

        &:first-of-type {
            &:hover ~ .button-group__background {
                left: 3px;
                right: 50%;
            }
        }

        &:last-of-type {
            &:hover ~ .button-group__background {
                left: 50%;
                right: 2px;
            }
        }
    }

    .button-group__background {
        background: $clickable-background;
        border-radius: $border-radius--pill;
        bottom: 2px;
        content: ' ';
        display: block;
        max-width: calc(50% - 3px);
        position: absolute;
        top: 2px;
        transition: all $transition-time--slow $transition-style--dynamic;
        width: 10em;
        z-index: $z--recessed;
    }
}
