/*
 * Buttons.
 *
 * Usage:
 *
 * <a href="#" class="button button--large">
 *     Save
 * </a>
 *
 * <button class="button">
 *     Save
 * </button>
 */

$visualZHeight: 1.5px;

/*
 * 1 - Add shadow at bottom of button to create spatial depth and make button stand out
 * 2 - Always vertically center buttons with other elements
 */
.button,
a.button,
%button {
    @include truncate-text;

    appearance: none; /* stylelint-disable-line plugin/no-unsupported-browser-features */
    background: $clickable;
    border-radius: $border-radius--large;
    border: 0;
    box-shadow: inset -1px (-$visualZHeight) 0 hsla(0, 0%, 0%, 0.23); /* 1 */
    color: $text--inverse;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
    text-align: center;
    text-shadow: 0 -1px 0 darken($clickable, 13);
    transition: background, color $transition-time--slow;
    user-select: none;
    vertical-align: middle; /* 2 */

    &:hover {
        background: $clickable--highlight;
        color: $text--inverse;
    }

    &:active,
    &:focus {
        outline: none; /* stylelint-disable-line plugin/no-unsupported-browser-features */
    }

    /*
     * Visually push button down to surface by
     * 1 - Removing shadow that creates 3d effect -> appears flat
     * 2 - Adding margin on top of button -> moves button down
     * 3 - Reducing padding-bottom of button -> reduces height of button
     */
    &:active:not(.is-disabled) {
        box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.08); /* 1 */
        margin-top: $visualZHeight; /* 2 */
        padding-bottom: $inuit-global-spacing-unit-small - $visualZHeight; /* 3 */
    }

    /*
     * 1 - Equalize left / top / bottom spacing
     */
    > .icon {
        display: inline-block;
        fill: $text--inverse;
        filter: drop-shadow(
            0 -1px 0 darken($clickable, 13)
        ); /* stylelint-disable-line plugin/no-unsupported-browser-features */
        margin-left: -$inuit-global-spacing-unit-tiny; /* 1 */
        margin-right: $inuit-global-spacing-unit-small;
        position: relative;
        vertical-align: middle;
    }

    &.is-disabled,
    &.is-disabled:hover {
        background: $background;
        border-color: $transparent darken($background, 13) darken($background, 13);
        cursor: not-allowed; /* stylelint-disable-line plugin/no-unsupported-browser-features */
        text-shadow: 0 -1px 0 darken($background, 13);

        .icon {
            filter: drop-shadow(
                0 -1px 0 darken($background, 13)
            ); /* stylelint-disable-line plugin/no-unsupported-browser-features */
        }
    }
}

// Variants ------------------------------------------------------------------------------------------------------------
.button--large.button {
    font-size: $font-size--large;
    padding-bottom: $inuit-global-spacing-unit-tiny;
    padding-top: $inuit-global-spacing-unit-tiny;

    &:active:not(.is-disabled) {
        padding-bottom: $inuit-global-spacing-unit-tiny - $visualZHeight; /* 3 */
    }
}

.button--huge.button {
    font-size: $font-size--large;
    padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;

    &:active:not(.is-disabled) {
        padding-bottom: $inuit-global-spacing-unit - $visualZHeight; /* 3 */
    }
}

.button--full-width.button {
    width: 100%;
}

.button--danger.button {
    background: $danger;
    border-color: darken($danger, 21);
    text-shadow: 0 -1px 0 darken($danger, 21);

    &:hover {
        background: lighten($danger, 3);
    }

    > .icon {
        filter: drop-shadow(
            0 -1px 0 darken($danger, 25)
        ); /* stylelint-disable-line plugin/no-unsupported-browser-features */
    }
}

@mixin button {
    @extend %button;
}
