/*
 * Styled checkbox.
 */

.checkbox {

    &:hover {

        .icon--checkbox {
            border-color: $clickable--highlight;
        }

        .checkbox__input:not(:checked) + .icon--checkbox > .icon--checkbox__checkmark {
            opacity: .21;
        }
    }

    /*
     * 1 - Hide the actual HTML input, so we can show an SVG image instead
     */
    .checkbox__input {
        display: none; /* 1 */

        /*
         * 1 - Show the checkmark, if the input is checked
         */
        &:checked + .icon--checkbox > .icon--checkbox__checkmark {
            opacity: 1; /* 1 */
        }
    }

    .icon--checkbox {
        border: 1px solid $border;
        border-radius: $border-radius;
        display: inline-block;
        height: 1.5em;
        margin-right: .5em;
        position: relative;
        top: -.1em;
        transition: border-color $transition-time--fast ease-in-out;
        vertical-align: middle;
        width: 1.5em;
    }

    .icon--checkbox__checkmark {
        fill: $text;
        opacity: 0;
        transition: opacity $transition-time--fast;
    }
}


// Variants ------------------------------------------------------------------------------------------------------------
.checkbox--large {

    .icon--checkbox {
        border-width: 2px;
    }
}
