.display-panel {
    background: $background--slightly-off-black;
    border-radius: 6px;
    color: $text--lighter;

    th {
        padding: 0 0.25em;
    }

    /*
     * 1 - Force cell to consume the entire width not used by the position data
     */
    .coordinate {
        line-height: 1;
        text-align: center;
        width: 100%; /* 1 */

        .axis {
            font-size: 28px;
        }
    }

    .machine-position,
    .work-position {
        padding: 0;
        position: relative;
        white-space: nowrap;
        width: 48%;
    }

    .action {
        width: 1%;
        padding: 0;
        text-align: center;

        .action-dropdown {
            min-width: auto;
            border-radius: 0;

            > * {
                color: #666;
            }

            &:disabled:hover {
                background-color: inherit;
                > * {
                    color: #666;
                }
            }
            &:hover {
                background-color: #e6e6e6;
                > * {
                    color: #333;
                }
            }
        }
    }
}
