fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    &.narrow {
        @include center--mx;

        max-width: 19em;
    }

    &.is-centered {
        @include center--mx;

        max-width: 100%;
        width: 32em;

        input:not([type]),
        input[type=text],
        input[type=email],
        input[type=password],
        input[type=url],
        input[type=tel],
        .styled-select,
        textarea {
            max-width: 100%;
            width: 100%;
        }
    }

    &.is-styled {
        border: 1px solid $border;
        border-radius: $border-radius;
        margin: 1em 0;
        min-height: 8.75em;
        padding: .75em;

        legend {
            margin-left: -.25em;
            padding: 0 .25em;
        }
    }
}
