.footer {
    padding-bottom: $inuit-global-spacing-unit-small;

    .labeled-divider {
        height: $inuit-global-spacing-unit-large;
        margin-bottom: $inuit-global-spacing-unit-small;
        margin-top: $inuit-global-spacing-unit-small;
        padding-bottom: 0;
    }

    strong {
        cursor: default;
        display: block;
        padding: $inuit-global-spacing-unit-small 0;
        user-select: none;
    }

    .footer-link {
        @include truncate-text;

        display: block;
        padding: $inuit-global-spacing-unit-small 0;
    }
}
