.keypad {
    position: relative;

    svg.keypad-image {
        display: inline-block;
        filter: drop-shadow(-1px 1.5px 1px hsla(0, 0%, 0%, 0.55));
        height: 200px;
        width: auto;

        &.tilted--x-plus {
            transform: perspective(400px) rotateY(1deg);
            transform-origin: 0 50%;
        }

        &.tilted--x-minus {
            transform: perspective(400px) rotateY(-1deg);
            transform-origin: 100% 50%;
        }

        &.tilted--y-plus {
            transform: perspective(400px) rotateX(-1deg);
            transform-origin: 50% 0;
        }

        &.tilted--y-minus {
            transform: perspective(400px) rotateX(1deg);
            transform-origin: 50% 100%;
        }

        &.tilted--x-plus-y-plus {
            transform: perspective(400px) rotateX(-1deg) rotateY(1deg);
            transform-origin: 0;
        }

        &.tilted--x-plus-y-minus {
            transform: perspective(400px) rotateX(-1deg) rotateY(-1deg);
            transform-origin: 0 100%;
        }

        &.tilted--x-minus-y-plus {
            transform: perspective(400px) rotateX(1deg) rotateY(1deg);
            transform-origin: 100% 0;
        }

        &.tilted--x-minus-y-minus {
            transform: perspective(400px) rotateX(1deg) rotateY(-1deg);
            transform-origin: 100% 100%;
        }

        .keypad-image__button {
            fill: $background--darkest;
            stroke: transparent;
        }

        .keypad-image__button--inner {
            fill: red;
        }

        .keypad-image__arrow {
            fill: $border--lightest;
            stroke: transparent;
        }
    }

    .keypad__axis-label {
        @include center--xy;

        color: transparentize($text--inverse, 0.4);
        font-size: $font-size--huge;
        text-shadow: 0 -1px 0 darken($clickable, 13);
    }

    .keypad-button__wrapper {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .keypad-button {
        cursor: pointer;
        flex-grow: 1;
    }
}
