/*
 * Display large KPI (key performance indicator).
 * Multiple KPI instances can be wrapped in a kpi-row.
 *
 * Usage:
 *
 * <div class="kpi">
 *     <big>
 *         1,000
 *         <small class="unit">€</small>
 *     </big>
 *     <p>EBITDA</p>
 * </div>
 *
 * <div class="kpi-row">
 *     <div class="kpi">
 *         <big>
 *             250
 *         </big>
 *         <p>Units Sold</p>
 *     </div>
 *     <div class="kpi">
 *         <big>
 *             1,000
 *             <small class="unit">€</small>
 *         </big>
 *         <p>EBITDA</p>
 *     </div>
 *     <div class="kpi-group-label">
 *         Total
 *     </div>
 *     <div class="kpi">
 *         <big>
 *             800
 *             <small class="unit">€</small>
 *         </big>
 *         <p>EBIT</p>
 *     </div>
 * </div>
 */


.kpi-row {
    @include inuit-clearfix;

    display: inline-block;
    vertical-align: top;

    > .kpi {

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.kpi-row--block {
    display: block;
}

.kpi-row--centered {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.kpi,
.kpi-group-label {
    float: left;
}

/*
 * 1 - Pull the separator border out of the box a little bit
 */
.kpi {
    color: $text--lighter;
    margin-top: -2px; /* 1 */
    min-width: 5em;
    text-align: right;
    padding: 0 $inuit-global-spacing-unit-small;

    &:not(:last-of-type) {
        border-right: 1px solid $border--lighter;
    }

    small,
    p {
        color: $text--lighter;
        font-size: $font-size--small;
    }

    big,
    small {
        white-space: nowrap;
    }

    p {
        @include truncate-text;

        margin: 0;
    }

    big {
        color: $text;
        display: inline-block;
        font-size: $font-size--large;
        line-height: 1;

        > small {
            padding-left: .5ch;
        }
    }
}
