.layout {
    display: grid;
}

.layout--app {
    .header {
        align-content: space-between;
        align-items: center;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: $inuit-global-spacing-unit;
    }

    .main {
    }

    .sidebar {
    }
}
