/*
 * Search form.
 */

/*
 * 1 - Enable absolute positioning of .search-form__results
 */
.search-form {
    position: relative; /* 1 */
}

.search-form__input {
    border: 1px solid $border;
    border-radius: $border-radius--pill;

    input[type='search'] {
        font-size: $font-size--large;
        height: $inuit-global-spacing-unit-large;
        max-width: none;
        padding-left: 2.75em;
        padding-right: 2.5em;
        width: 100%;
    }
}

/*
 * 1 - Visual alignment
 */
.search-form__clear {
    padding: $inuit-global-spacing-unit-small;
    position: absolute;
    right: 11px; /* 1 */
    top: $inuit-global-spacing-unit-small; /* 1 */
}

/*
 * 1 - Match indent of search input visually
 * 2 - Absolute positioning requires an explicit width (full width minus 3.5em left margin and 2em right margin)
 */
.search-form__results {
    margin-left: round(3.5 * $inuit-global-spacing-unit); /* 1 */
    margin-top: $inuit-global-spacing-unit-large;
    padding: $inuit-global-spacing-unit-small;
    position: absolute;
    width: calc(100% - 49px - 28px); /* 2 */

    .search-result {
        background: transparentize($background--white, 0.92);
        padding: 0;
        position: relative;

        &:not(:first-child) {
            border-top: 1px solid $border--lighter;
        }

        &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        /*
         * 1 - Remove borders on hover, because it looks ugly;
         *     requires removing the (top) border of the hovered element plus the (top) border of the following element
         * 2 - Also make border-bottom transparent, because of the :last-child rule above
         */
        &.is-selected,
        &:not(.is-selected):hover {
            background: $clickable--background;
            border-bottom-color: $transparent !important; /* 2 */
            border-radius: $border-radius;
            border-top-color: $transparent !important; /* 1 */

            + .search-result {
                border-top-color: $transparent !important; /* 1 */
            }
        }
    }

    .search-result__id {
        display: inline-block;
        font-weight: normal;
        margin-right: $inuit-global-spacing-unit-small;
        min-width: 2.5em;
        text-align: right;

        .search-result--wide-id & {
            min-width: 6.25em;
            text-align: left;
        }
    }

    .search-result__text {
        @include truncate-text;
    }
}

// Variants ------------------------------------------------------------------------------------------------------------
.search-form--light {
    .search-form__input {
        background: $background--slightly-off-white;
        border-color: $transparent;
    }
}

.search-form--dark {
    .search-form__input {
        border-color: $transparent;
    }

    input[type='search'] {
        color: $text--inverse;
    }

    .search-result:not(:first-child) {
        border-top-color: $background--darkest;
    }
}
