/*
 * Apply custom arrows using a CSS triangle, created as pseudo element of a wrapper around the select
 *
 *  <div class="styled-select">
 *      <select>
 *          <option></option>
 *      </select>
 *  </div>
 */
.styled-select,
%styled-select {
    display: inline-block;
    position: relative;

    &:after {
        @include triangle(up, $border, .4em);

        cursor: pointer; /* stylelint-disable-line plugin/no-unsupported-browser-features */
        pointer-events: none; /* stylelint-disable-line plugin/no-unsupported-browser-features */
        position: absolute;
        right: .5em;
        top: .8em;
        z-index: $z--elevated-3;
    }

    &:hover:after {
        border-top-color: $clickable--highlight;
    }

    &.is-disabled {

        select {
            border-color: $transparent;
            cursor: text; /* stylelint-disable-line plugin/no-unsupported-browser-features */
            padding-left: 0;
            padding-right: 0;
        }

        &:after,
        &:hover:after {
            border-top-color: $transparent;
        }
    }

    /*
     * 1 - Remove the max-width from the select, if a long input is wanted
     */
    &.input--long select {
        max-width: none; /* 1 */
    }
}
