/*
 * iOS-style toggle rendered from a checkbox.
 *
 * Usage:
 *
 * <div class="toggle">
 *     <label class="toggle__frame">
 *         <input type="checkbox" class="toggle__input"/>
 *         <span class="toggle__labels" data-on="On" data-off="Off"></span>
 *         <span class="toggle__handle"></span>
 *     </label>
 * </div>
 */

.toggle {
    display: inline-block;

    &.is-disabled,
    &.is-disabled:hover {
        .toggle__frame,
        .toggle__handle {
            /* stylelint-disable plugin/no-unsupported-browser-features */
            /* nobody cares, if the cursor is not changed in bad browsers */
            cursor: not-allowed;
            /* stylelint-enable */
        }

        .toggle__handle {
            background: $background--darker;
        }
    }
}

.toggle__frame {
    border-radius: $border-radius--pill;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    height: 1.8em;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 4.6em;
}

.toggle__handle {
    background: $clickable;
    border-radius: $border-radius--circle;
    height: 1.5em;
    left: 0.15em;
    position: absolute;
    top: 0.15em;
    transition: $transition-time--fast transform $transition-style--dynamic;
    width: 1.5em;

    &:hover {
        background: $clickable--highlight;
    }
}

.toggle__labels {
    background: $background;
    border-radius: inherit;
    display: block;
    font-size: $font-size--tiny;
    height: 100%;
    position: relative;
    text-transform: uppercase;
    transition: $transition-time--medium opacity $transition-style--dynamic;

    &:before,
    &:after {
        color: $text--lighter;
        font-size: 1.25em; /* stylelint-disable-line sh-waqar/declaration-use-variable */
        line-height: 1;
        margin-top: -0.45em;
        position: absolute;
        top: 50%;
        transition: inherit;
    }

    // 'off'-text
    &:before {
        content: attr(data-off);
        right: 0.6em;
    }

    // 'on'-text
    &:after {
        content: attr(data-on);
        left: 0.75em;
        opacity: 0;
    }
}

.toggle__input {
    @include pin(top-left, absolute);

    opacity: 0 !important; /* stylelint-disable-line declaration-no-important */

    &:checked ~ .toggle__labels {
        &:before {
            opacity: 0;
        }

        &:after {
            opacity: 1;
        }
    }

    /*
     * 1 - 2.8 = (toggle__label width) - (toggle__handle width) - 2 * (toggle__handle left) = 4.6 - 1.5 - 0.3
     */
    &:checked ~ .toggle__handle {
        transform: translate3d(2.8em, 0, 0);
    }
}

.toggle__hint {
    display: inline-block;
    padding-left: $inuit-global-spacing-unit-small;
    vertical-align: middle;
}

/*
 * 1 - Add some spacing between toggle and label text, if toggle is wrapped in a label
 */
label > .toggle {
    margin-right: $inuit-global-spacing-unit-tiny;
}
