{
    "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "stage-0",
        "react",
        "flow"
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"],
            "plugins": [
              "import-asserts"
            ]
        },
        "production": {
            "presets": [
              "react-optimize"
            ],

        }
    },
    "plugins": [
        "transform-proto-to-assign",
        "transform-decorators-legacy",
        "transform-runtime",
        "transform-object-rest-spread",
        "transform-class-properties",
        "syntax-dynamic-import",
        "transform-es2015-modules-commonjs",
        "styled-components"
    ]
}
