/*
 * Global variables.
 */

// colors ------------------------------------------------------------------------------------------
// Darker color variations:*
// - Brightness
// + Saturation
// Hue (often) shifts towards a luminosity minimum (red, green, or blue)

// Lighter color variations:*
// + Brightness
// - Saturation
// Hue (often) shifts towards a luminosity maximum

// primary color
$primary: hsl(248, 67%, 64%);
$primary--darker: darken(saturate($primary, 3%), 8%);
$primary--darkest: darken(saturate($primary, 5%), 42%);
$primary--lighter: lighten(desaturate($primary, 8%), 8%);
$primary--lightest: lighten(desaturate($primary, 13%), 34%);

// secondary color
$secondary: #868d93; // hsl(100, 67%, 64%);
$secondary--darker: darken(saturate($secondary, 3%), 13%);
$secondary--darkest: darken(saturate($secondary, 5%), 34%);
$secondary--lighter: lighten(desaturate($secondary, 8%), 13%);
$secondary--lightest: lighten(desaturate($secondary, 13%), 34%);

// colors for clickable items (links, buttons, etc.)
$clickable: hsl(207, 67%, 64%);
$clickable--highlight: lighten(saturate($clickable, 13%), 5%);
$clickable-background: transparentize($clickable--highlight, 0.72);

// text colors
$text: hsl(201, 13%, 21%);
$text--lighter: lighten(desaturate($text, 5%), 55%);
$text--lightest: lighten(desaturate($text, 5%), 68%);
$text--inverse: hsl(0, 0%, 100%);

// background colors
$background: hsl(201, 2%, 92%);
$background--darker: darken(saturate($background, 3%), 16%);
$background--darkest: darken(saturate($background, 3%), 55%);
$background--slightly-off-black: hsl(201, 2%, 8%);
$background--lighter: hsl(201, 2%, 94%);
$background--slightly-off-white: hsl(201, 1%, 97%);
$background--white: hsl(0, 0%, 100%);
$background--highlight: hsl(201, 100%, 94%);
$background--warning: hsl(4, 90%, 94%);
$black: hsl(201, 100%, 0%);

// border colors
$border: hsl(201, 13%, 79%);
$border--darker: darken($border, 8%);
$border--lighter: lighten($border, 8%);
$border--lightest: lighten($border, 13%);

// state colors
$danger: hsl(0, 88%, 66%);
$error: hsl(1, 62%, 58%);
$success: hsl(121, 201%, 55%);
$attention: hsl(34, 82%, 64%);

$transparent: transparent;

// border radii ------------------------------------------------------------------------------------
$border-radius: 3px;
$border-radius--tiny: 2px;
$border-radius--small: 1px;
$border-radius--large: $border-radius * 2;
$border-radius--huge: $border-radius * 3;
$border-radius--circle: 50%;
$border-radius--pill: 999px;

// transition times --------------------------------------------------------------------------------
$transition-time-multiplier: 1; // scaling factor for development / debugging

$transition-time--very-fast: 75ms * $transition-time-multiplier;
$transition-time--fast: 150ms * $transition-time-multiplier;
$transition-time--medium: 250ms * $transition-time-multiplier;
$transition-time--slow: 400ms * $transition-time-multiplier;
$transition-time--very-slow: 1000ms * $transition-time-multiplier;

$transition-style--dynamic: cubic-bezier(0.73, 0.01, 0, 1);

// z-indexes ---------------------------------------------------------------------------------------
$z--recessed: -1;
$z--base: 0;

// elements on the base layer that need to stick out
$z--elevated-1: 10;
$z--elevated-2: 11;
$z--elevated-3: 12;

// elements that float over the base layer
$z--overlayed-1: 100;
$z--overlayed-2: 110;
$z--overlayed-3: 120;

// elements that must never be covered
$z--topmost-1: 1000000;
$z--topmost-2: 1000010;
$z--topmost-3: 1000020;

// font sizes --------------------------------------------------------------------------------------
$font-size: 1rem; // = 14px $inuit-base-font-size
$font-size--tiny: 0.714rem;
$font-size--small: 0.857rem;
$font-size--large: 1.25rem;
$font-size--larger: 1.5rem;
$font-size--huge: 2rem;
$font-size--page-title: 4rem;
