.widget-content {
    position: relative;

    &.hidden {
        display: none;
    }
}

.btn-link {
    color: #222;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.macro-variables-dropdown {
    max-height: 180px;
    overflow-y: auto;
}

.table-container {
    min-height: 80px;
    max-height: 180px;
    overflow-x: auto;
    overflow-y: scroll;
}
