/*
 * SVG icons.
 *
 * Usage:
 *
 * <svg role="img" viewBox="0 0 84 84" class="icon icon--small">
 *     <path d="..."></path>
 * </svg>
 */

.icon {
    display: inline-block;
    fill: currentColor;
    height: $inuit-global-spacing-unit * 1.5;
    position: relative;
    transition: $transition-time--fast transform;
    vertical-align: middle;
    width: $inuit-global-spacing-unit * 1.5;

    &--tiny {
        height: $inuit-global-spacing-unit-small;
        width: $inuit-global-spacing-unit-small;
    }

    &--small {
        height: $inuit-global-spacing-unit;
        width: $inuit-global-spacing-unit;
    }

    &--large {
        height: $inuit-global-spacing-unit-large;
        width: $inuit-global-spacing-unit-large;
    }

    &--light {
        fill: $text--lightest;
    }
}
