/*
 * Alignment helper classes
 */

// Floating ------------------------------------------------------------------------------------------------------------
.left {
    float: left;
}

.right {
    float: right;
}

// Position ------------------------------------------------------------------------------------------------------------
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

// Centering -----------------------------------------------------------------------------------------------------------
.center--mx,
%center--mx {
    margin-left: auto;
    margin-right: auto;
}

@mixin center--mx {
    @extend %center--mx;
}

.center--x,
%center--x {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

@mixin center--x {
    @extend %center--x;
}

/*
 * 1 - Perceptive adjustment, because the visual vertical center is slightly above the geometric center
 */
.center--y,
%center--y {
    position: absolute;
    top: 48%;
    transform: translateY(-50%); /* 1 */
}

@mixin center--y {
    @extend %center--y;
}

/*
 * 1 - Perceptive adjustment, because the visual vertical center is slightly above the geometric center
 */
.center--xy,
%center--xy {
    left: 50%;
    position: absolute;
    top: 48%; /* 1 */
    transform: translate(-50%, -50%);
}

@mixin center--xy {
    @extend %center--xy;
}

@mixin max-width-centered($maxWidth: 70 * $inuit-global-spacing-unit) {
    margin-left: auto;
    margin-right: auto;
    max-width: $maxWidth;
    width: 100%;
}
