/*
 * Display helper classes
 */

// Display -------------------------------------------------------------------------------------------------------------
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.none {
    display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// helper class for visuallyhidden
.visuallyhidden,
.is-visuallyhidden {
    @extend %visuallyhidden;
}

@mixin visuallyhidden {
    @extend %visuallyhidden;
}
