/*
 * Generic responsive helper classes.
 */

$enable-responsive-display:    false !default;
$enable-responsive-position:   false !default;
$enable-responsive-float:      false !default;




// Loop over our breakpoints defined in _settings.responsive.scss
@each $breakpoint in $breakpoints {

    // Get the name of the breakpoint.
    $alias: nth($breakpoint, 1);

    @include media-query($alias) {


        @if ($enable-responsive-display == true) {
            .inline-#{$alias} {
                display: inline !important;
            }

            .inline-block-#{$alias} {
                display: inline-block !important;
            }

            .block-#{$alias} {
                display: block !important;
            }

            .none-#{$alias} {
                display: none !important;
            }
        }


        @if ($enable-responsive-position == true) {
            .absolute-#{$alias} {
                position: absolute;
            }

            .relative-#{$alias} {
                position: relative;
            }

            .static-#{$alias} {
                position: static;
            }

            .fixed-#{$alias} {
                position: fixed;
            }
        }


        @if ($enable-responsive-float == true) {
            .left-#{$alias} {
                float: left !important;
            }

            .right-#{$alias} {
                float: right !important;
            }
        }

    }
}
