/*
 * Dialog section for additional content, such as links to company homepage or further information.
 *
 * Usage:
 *
 * <div class="dialog__footer">
 *     <a href="./reset-password">
 *         Reset Password
 *     </a>
 * </div>
 */


.dialog__footer {
    color: $text--lightest;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;

    &:not(.dialog__footer--no-padding) {
        padding: $inuit-global-spacing-unit;
    }

    a {
        display: block;
        padding: $inuit-global-spacing-unit 0;
    }
}
