/*
 * Main dialog styles.
 * Dialog component wraps several more specific components, such as dialog__header, dialog__body, and dialog__footer.
 *
 * Usage:
 *
 * <a href="#" class="dialog__close-link">
 *     Close dialog
 * </a>
 * <div class="dialog">
 *     <div class="dialog__shadow-wrapper">
 *         <div class="dialog__header">
 *             ...
 *         </div>
 *         <div class="dialog__body">
 *             ...
 *         </div>
 *         <div class="dialog__footer">
 *             ...
 *         </div>
 *     </div>
 * </div>
 */

/*
 * 1 - Center dialog horizontally
 * 2 - Center dialog vertically in viewport
 */
.dialog {
    @include center--xy; /* 1, 2 */

    border-radius: $border-radius--large;
    max-width: 100%;
    position: fixed;
    /* stylelint-disable plugin/no-unsupported-browser-features */
    /* browsers that don't understand vh units can fall back to the "top: 50%;" from the center--xy mixin */
    top: 50vh; /* 2 */
    /* stylelint-enable plugin/no-unsupported-browser-features */
    width: $inuit-global-spacing-unit * 17;
    z-index: $z--topmost-2;
}

// Variants ------------------------------------------------------------------------------------------------------------
.dialog--wide {
    width: $inuit-global-spacing-unit * 30;
}

.dialog--extra-wide {
    width: $inuit-global-spacing-unit * 40;
}

.dialog--full-width {
    max-width: $inuit-global-spacing-unit * 96;
    /* stylelint-disable plugin/no-unsupported-browser-features */
    /* bloody UC browser for Android 11 can't deal with calc, but it can fall back to 95% width */
    width: 95%;
    width: calc(100% - 56px);
    /* stylelint-enable plugin/no-unsupported-browser-features */
}

.dialog--animation-appear {
    @include animation--slide-down-in;
}

.dialog--animation-leave {
    @include animation--slide-up-out;
}

/*
 * 1 - Limit the maximum height of the dialog
 * 2 - Fallback for browsers that don't support vh units
 */
.dialog__shadow-wrapper {
    background: $background--white;
    border-radius: $border-radius--large;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.21);
    /* stylelint-disable plugin/no-unsupported-browser-features */
    /* browsers that don't understand vh units can fall back to the px value */
    max-height: 800px; /* 1, 2 */
    max-height: 80vh; /* 1 */
    /* stylelint-enable plugin/no-unsupported-browser-features */
    overflow-y: auto;
}

/*
 * 1 - Make sure the close button is never covered by anything
 */
.dialog__close-link {
    @include pin(top-right, fixed);
    @include animation--fade-in;

    animation-delay: $transition-time--medium;
    /* stylelint-disable declaration-no-important */
    /* intended trump: the close link should clearly be a secondary item */
    color: $text--lighter !important;
    /* stylelint-enable declaration-no-important */
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    padding: $inuit-global-spacing-unit;
    text-align: center;
    z-index: $z--topmost-3; /* 1 */

    &:hover {
        /* stylelint-disable declaration-no-important */
        /* intended trump: the close link should be discernible as something you can interact with on hover */
        color: $clickable--highlight !important;
        /* stylelint-enable declaration-no-important */
    }
}
