/*
 * Dialog section for actual content of dialog.
 *
 * Usage:
 *
 * <div class="dialog__body dialog__body--centered">
 *     ...
 * </div>
 */


/*
 * 1 - Make the table full width
 */
.dialog__body {
    background: $background--white;
    width: 100%; /* 1 */

    td {
        padding: $inuit-global-spacing-unit-small 0;

        &:last-child {
            padding-left: $inuit-global-spacing-unit-small;
            padding-right: $inuit-global-spacing-unit;
        }

        /*
         * first-child must come after last-child, to avoid too small left padding on single cell rows
         */
        &:first-child {
            padding-left: $inuit-global-spacing-unit;
        }

        /*
         * 1 - Make this cell consume all the excess width to prevent all cells getting equal percentage padding
         */
        &.main {
            width: 100%; /* 1 */
        }
    }

    tbody th {
        /* stylelint-disable max-line-length */
        /* what can you do */
        padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
        /* stylelint-enable */

        /*
         * 1 - Align vertically with input values (padding + border-width)
         */
        div {
            padding-top: ($inuit-global-spacing-unit-small - 1); /* 1 */
        }

        /*
         * 1 - Remove left padding of single cells that follow a TH inside the table body
         */
        + td:last-child {
            padding-left: 0; /* 1 */
        }
    }

    /*
     * 1 - Start a new line for a link in case the content of a cell gets too long
     */
    a {
        white-space: nowrap; /* 1 */
    }
}
