/*
 * Special login dialog.
 */

.login {
    animation-duration: $transition-time--slow;

    &.indicate-error {
        @include animation--shake-dialog;
    }

    .dialog__shadow-wrapper {
        max-height: 95vh; /* 1 */ /* stylelint-disable-line plugin/no-unsupported-browser-features */
    }
}

/*
 * 1 - .input-stack is inline-block, thus not allowing horizontal centering
 */
.user-credentials {
    .input-add-on {
        width: 100%;
    }

    .input-add-on__label {
        width: 2em;

        svg {
            fill: $text--lighter;
            position: relative;
        }
    }

    .input-add-on__input {
        padding-left: 2.5em;
    }
}
