/*
 * Dialog section for actions, such as save or cancel.
 *
 * Usage:
 *
 * <div class="dialog__actions">
 *     <button>
 *         Save
 *     </button>
 * </div>
 */


.dialog__actions {
    padding: 0 $inuit-global-spacing-unit $inuit-global-spacing-unit;

    .button {
        font-size: $font-size--large;

        /*
         * 1 - Make buttons full width, except for in full-width dialogs
         */
        .dialog:not(.dialog--full-width) & {
            width: 100%; /* 1 */
        }
    }
}
