@import '../../scss/settings/theme';
@import '../../scss/base/animations';

#spindle {
    display: inline-block;
    height: 200px;
    width: auto;
}

.spindle__mill rect {
    fill: $background--darker;
}

.spindle__direction-wrapper1 {
    transform: rotate(20deg) scale(0.66) translateY(3%);
    transform-origin: 49.85% 67.5%;
}

.spindle__direction-wrapper2 {
    transform: skewX(115deg);
    transform-origin: 49.85% 67.5%;
}

.spindle__direction {
    animation-fill-mode: both;
    fill: $secondary;
    transform-origin: 49.85% 67.5%;

    &:not(.reverse) {
        animation: $transition-time--very-slow spinRight linear infinite;
    }
}

#spindle.reverse {
    .spindle__direction-wrapper1 {
    }

    .spindle__direction {
        animation: $transition-time--very-slow spinLeft linear infinite;
    }
}

.spindle__coolant-pipe {
    fill: $background--darker;
}

.spindle__coolant--mist {
    fill: transparentize($secondary, 0.67);
}

.spindle__coolant--flood {
    fill: transparentize($secondary, 0.13);
}
