@import '../../scss/settings/variables';
@import '../../scss/base/animations';

#spindle {
    display: inline-block;
    height: 200px;
    width: auto;
}

.spindle__mill rect {
    fill: black;
}

.spindle__direction-wrapper1 {
    transform: rotate(20deg) scale(0.66) translateY(3%);
    transform-origin: 50.4% 62.4%;
}

.spindle__direction-wrapper2 {
    transform: skewX(115deg);
    transform-origin: 50.4% 62.4%;
}

.spindle__direction {
    animation-fill-mode: both;
    fill: $secondary;
    transform-origin: 50.4% 62.4%;

    &:not(.reverse) {
        animation: $transition-time--very-slow spin--right linear infinite;
    }
}

#spindle.reverse {
    .spindle__direction-wrapper1 {
    }

    .spindle__direction {
        animation: $transition-time--very-slow spin--left linear infinite;
    }
}

.spindle__coolant-pipe {
    fill: $background--darker;
}
