@mixin max-width-centered($maxWidth: 70 * $inuit-global-spacing-unit) {
    margin-left: auto;
    margin-right: auto;
    max-width: $maxWidth;
    width: 100%;
}

.o-content-width-wrapper {
    @include max-width-centered(map-get($mq-breakpoints, desktop));

    padding-left: $inuit-global-spacing-unit-small;
    padding-right: $inuit-global-spacing-unit-small;

    @include mq($from: desktop) {
        padding-left: $inuit-global-spacing-unit;
        padding-right: $inuit-global-spacing-unit;
    }
}

.o-content-width-wrapper--wide {
    @include max-width-centered(map-get($mq-breakpoints, wide));

    padding-left: $inuit-global-spacing-unit-small;
    padding-right: $inuit-global-spacing-unit-small;

    @include mq($from: desktop) {
        padding-left: $inuit-global-spacing-unit;
        padding-right: $inuit-global-spacing-unit;
    }
}

.o-content-width-wrapper--mobile {
    @include max-width-centered(map-get($mq-breakpoints, mobile));

    padding-left: $inuit-global-spacing-unit-small;
    padding-right: $inuit-global-spacing-unit-small;

    @include mq($from: desktop) {
        padding-left: $inuit-global-spacing-unit;
        padding-right: $inuit-global-spacing-unit;
    }
}
